<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div style="margin-top: 30px;" class="col-md-offset-2 col-lg-8 col-md-8">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
          </div>
          <div class="panel-body">
            {{content}}
            <a routerLink="{{uri}}" routerLinkActive="active" class="btn btn-link"><span style="color: cornflowerblue" class="glyphicon glyphicon-forward"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
