<% include ../common/header.html %>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div style="margin-top: 30px;" class="col-md-offset-2 col-lg-8 col-md-8">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">提示</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-2 col-md-2 col-lg-offset-4 col-md-offset-4">
                            <span style="color: red;"><%=content%></span>
                            <a href="/" class="btn btn-link">首页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../common/footer.html %>