<sub-nav [requestAccountId]="requestAccountId" [tab]="0"></sub-nav>
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">基本信息</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" #accountInfoForm="ngForm" novalidate role="form">
        <div class="form-group">
          <label for="head_portrait" class="col-sm-2 control-label">头像</label>
          <div class="col-sm-10">
            <img alt="" id="head_portrait" name="head_portrait" style="width:150px; height: 150px;"
                 class="img-responsive" [src]="accountInfo.head_portrait"/>
          </div>
          <div *ngIf="storageAccountId == requestAccountId" style="margin-top: 10px;" class="col-lg-2 col-md-2 col-lg-offset-2 col-md-offset-2">
            <span class="fileinput-button">
            <span>修改头像</span>
            <input type="file" ng2FileSelect [uploader]="uploader"/>
            </span>
            <div class="progress" style="" *ngIf="uploader.progress > 0">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="interspace_name" class="col-sm-2 control-label">博客空间名称</label>
          <div class="col-sm-3">
            <input class="form-control" maxlength="15" mixlength="2" #interspace_name="ngModel" [disabled]="!isShow" name="interspace_name"
                   [(ngModel)]="accountInfo.interspace_name" id="interspace_name" type="text" placeholder="请输入博客空间名称"/>
            <div *ngIf="interspace_name.invalid && (interspace_name.dirty || interspace_name.touched)">
              <span *ngIf="interspace_name.errors.maxlength" class="errorMsg">长度不能大于15</span>
              <span *ngIf="interspace_name.errors.mixlength" class="errorMsg">长度不能小于2</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">性别</label>
          <div class="col-sm-2">
            <select-gender [gender]="accountInfo.gender" (onChange)="genderChange($event)"
                           [isDisabled]="!isShow"></select-gender>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">学历</label>
          <div class="col-sm-2">
            <select-education [education]="accountInfo.education" [isDisabled]="!isShow"
                              (onChange)="educationChange($event)"></select-education>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="job">职业</label>
          <div class="col-sm-3">
            <input class="form-control" maxlength="20" #jbo="ngModel" [disabled]="!isShow" name="job"
                   [(ngModel)]="accountInfo.job" id="job" type="text" placeholder="请输入您的职业"/>
            <div *ngIf="jbo.invalid && (jbo.dirty || jbo.touched)">
              <span *ngIf="jbo.errors.maxlength" class="errorMsg">长度不能大于20</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">邮箱</label>
          <div class="col-sm-3">
            <input class="form-control" [disabled]="!isShow" #email="ngModel" maxlength="20" validEmail
                   [(ngModel)]="accountInfo.email" id="email" name="email" type="email" placeholder="请输入合法邮箱">
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <span *ngIf="email.errors.validEmail" class="errorMsg">请输入合法邮箱</span>
              <span *ngIf="email.errors.maxlength" class="errorMsg">长度不能大于20</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">手机号码</label>
          <div class="col-sm-3">
            <input class="form-control" [disabled]="!isShow" #mobile="ngModel" validMobile
                   [(ngModel)]="accountInfo.mobile" name="mobile" type="text" placeholder="请输入合法手机号">
            <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
              <span *ngIf="mobile.errors.validMobile" class="errorMsg">请输入正确格式的手机号码</span>
            </div>
          </div>
        </div>


        <div class="form-group">
          <label for="qq" class="col-sm-2 control-label">QQ</label>
          <div class="col-sm-3">
            <input type="text" id="qq" maxlength="20" #qq="ngModel" name="qq" [disabled]="!isShow"
                   [(ngModel)]="accountInfo.qq" class="form-control" placeholder="请输入您的QQ">
            <div *ngIf="qq.invalid && (qq.dirty || qq.touched)">
              <span *ngIf="qq.errors.maxlength" class="errorMsg">长度不能大于20</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="wechat" class="col-sm-2 control-label">微信号</label>
          <div class="col-sm-3">
            <input type="text" maxlength="20" [disabled]="!isShow" #wechat="ngModel" [(ngModel)]="accountInfo.wechat"
                   class="form-control" name="wechat" id="wechat" placeholder="请输入您的微信号">
            <div *ngIf="wechat.invalid && (wechat.dirty || wechat.touched)">
              <span *ngIf="wechat.errors.maxlength" class="errorMsg">长度不能大于20</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="motto" class="col-sm-2 control-label">座右铭</label>
          <div class="col-sm-3">
            <input type="text" maxlength="20" [disabled]="!isShow" #motto="ngModel" [(ngModel)]="accountInfo.motto"
                   name="motto" class="form-control" id="motto" placeholder="一句话概括你自己">
            <div *ngIf="motto.invalid && (motto.dirty || motto.touched)">
              <span *ngIf="motto.errors.maxlength" class="errorMsg">长度不能大于20</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">生日</label>
          <div class="col-sm-3">
            <input *ngIf="!isShow" class="form-control" type="text" [disabled]="!isShow" value="{{accountInfo.birthday | mydatepicker}}" placeholder="请输入您的生日">
            <div *ngIf="isShow">
              <my-date-picker name="birthday" [options]="birthdayDatePickerOptions"  [selDate]="birthdayPlusInitDate" [locale]="birthdayPlusLocale" [(ngModel)]="accountInfo.birthday"></my-date-picker>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">地址</label>
          <select-address (onChange)="addressChange($event)" [isDisabled]="!isShow"
                          [provinceCode]="accountInfo.address.province_code" [cityCode]="accountInfo.address.city_code"
                          [countyCode]="accountInfo.address.county_code"
                          [streetCode]="accountInfo.address.street_code"></select-address>
        </div>

        <div
          class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-8 col-xs-offset-3">
          <button *ngIf="!isShow && storageAccountId == requestAccountId" type="button" (click)="edit()" class="btn btn-info">编辑个人信息</button>
          <button *ngIf="isShow" [disabled]="!accountInfoForm.form.valid" type="button" (click)="confirmEdit()"
                  class="btn btn-info">保存个人信息
          </button>
        </div>
        <div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-8 col-xs-offset-3">
          <br>
          <p *ngIf="showMsg" style="color:red;">{{sysMsg}}</p>
        </div>
      </form>
    </div>
  </div>
</div>

