<sub-nav [requestAccountId]="requestAccountId" [tab]="1"></sub-nav>
<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">文章全文<a style="margin-left: 30px;text-decoration: none;" routerLink="/private/article/{{requestAccountId}}" class="btn btn-default">文章列表</a></h3>
    </div>
    <div class="panel-body">
      <div *ngIf="showSuccess" class="alert alert-success">{{successMsg}}</div>
      <div *ngIf="showMsg" class="alert alert-danger">{{sysMsg}}</div>
      <div [innerHTML]="article.content"></div>
      <ng-container *ngIf="article && !article.is_manuscript">
        <div class="div-to-hide-hr-3"></div>
        <a style="margin-right: 50px;cursor:default;text-decoration:none;"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;阅读&nbsp;{{article.visitor}}&nbsp;次</a>
        <a (click)="comment('', '')" style="margin-right: 16px;"><span class="glyphicon glyphicon-comment"></span></a>
        <a (click)="praise(article._id)" style="margin-right: 16px; color: black;" *ngIf="(article.praise | isExistsArr: authorizationService.currentUser._id)"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        <a (click)="praise(article._id)" style="margin-right: 16px;"  *ngIf="!(article.praise | isExistsArr: authorizationService.currentUser._id)"><span class="glyphicon glyphicon-thumbs-up"></span></a>
        <ng-container *ngIf="article.praise.length > 0 || replys.length > 0">
          <div class="div-to-hr-3"></div>
        </ng-container>
        <p *ngIf="article.praise.length > 0">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <a style="text-decoration: none;" routerLink="/private/info/{{p._id}}" *ngFor="let p of article.praise; let i = index;" class="comment-font-color">
            {{p.interspace_name}}
            <span *ngIf="i < (article.praise.length - 1)">、</span>
          </a>
          <span> 觉得很赞</span>
        </p>

        <div *ngFor="let rep of replys">
          <p>
            <a style="text-decoration: none;" routerLink="/private/info/{{rep.from._id}}">{{rep.from.interspace_name}}:</a>
            <a *ngIf="rep.from._id != authorizationService.currentUser.id" style="text-decoration: none; color:black;" (click)="comment(rep._id, rep.from._id)">{{rep.content}}</a>
            <a *ngIf="rep.from._id == authorizationService.currentUser.username" style="text-decoration: none; color:black;" (click)="deleteCommentBefore(rep._id)">{{rep.content}}</a>
            <ng-container *ngIf="rep.replies.length > 0">
              <reply  [replies]="rep.replies" (onRemoveReply)="deleteCommentBefore($event)" (onReply)="onComment($event)"></reply>
            </ng-container>
          </p>
        </div>

        <div hidden="true" id="commentDivEle">
          <div style="margin-bottom: 5px;">
            <input id="commentInputEle" (keyup)="keyupComment()" (mousemove)="keyupComment()" maxlength="{{initCommentMaxLength}}" name="commentContent" [(ngModel)]="commentContent" type="text" class="form-control" placeholder="">
            <span>你还可以输入{{commentMaxLength}}个字</span>
          </div>
          <a (click)="cancleCommen()" class="comment-a-cancle" style="text-decoration: none;">取消评论</a>
          <a (click)="submitComment()" *ngIf="!hideSubmitComment" style="text-decoration: none;">提交评论</a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<template #appModalTemplate>
  <div class="modal-body">
    {{appModal.content}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="cancleModal()">取消</button>
    <button type="button" class="btn btn-default" (click)="excuteDel()">确定</button>
  </div>
</template>
