nav.nav {
  background-color: darkmagenta;
}
nav.navbar {
  background-color: darkmagenta;
}
.validateError {
  color: red;
}
.errorMsg {
  color: red;
}
.hr{
  width: 100%;

}
a {
  cursor:pointer;
}
