<div class="div-to-hide-hr"></div>
<p>
  <a style="margin-right: 50px;cursor:default;text-decoration:none;"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;浏览{{doc.visitor}}次</a>
  <a (click)="comment(doc._id, '', '')" style="margin-right: 16px;" ><span class="glyphicon glyphicon-comment"></span></a>
  <a (click)="praise(doc._id)" style="margin-right: 16px; color: black;"  *ngIf="(doc.praise | isExistsArr: authorizationService.currentUser._id)"><span class="glyphicon glyphicon-thumbs-up"></span></a>
  <a (click)="praise(doc._id)" style="margin-right: 16px;" *ngIf="!(doc.praise | isExistsArr: authorizationService.currentUser._id)"><span class="glyphicon glyphicon-thumbs-up"></span></a>
  <a (click)="deleteDocBefore(doc._id)" *ngIf="authorizationService.currentUser._id == doc.account_id"><span class="glyphicon glyphicon-trash"></span></a>
</p>
<ng-container *ngIf="doc.praise.length >0 || doc.comment.replies.length > 0">
  <div class="div-to-hr-1"></div>
</ng-container>
<p *ngIf="doc.praise.length > 0">
  <span class="glyphicon glyphicon-thumbs-up"></span>
  <a style="text-decoration: none;" routerLink="/private/info/{{p._id}}" *ngFor="let p of doc.praise; let i = index;" class="comment-font-color">
    {{p.interspace_name}}
    <span *ngIf="i < (doc.praise.length - 1)">、</span>
  </a>
  <span> 觉得很赞</span>
</p>

<div *ngFor="let rep of doc.comment.replies">
  <p>
    <a style="text-decoration: none;" routerLink="/private/info/{{rep.from._id}}">{{rep.from.interspace_name}}:</a>
    <a *ngIf="rep.from._id != authorizationService.currentUser._id" style="text-decoration: none; color:black;" (click)="comment(doc._id, rep._id, rep.from._id)">{{rep.content}}</a>
    <a *ngIf="rep.from._id == authorizationService.currentUser._id" style="text-decoration: none; color:black;" (click)="deleteCommentBefore(doc._id, rep._id)">{{rep.content}}</a>
    <ng-container *ngIf="rep.replies.length > 0">
      <reply  [replies]="rep.replies" (onRemoveReply)="deleteCommentBefore(doc._id, $event)" (onReply)="reply(doc._id, $event)"></reply>
    </ng-container>
  </p>
</div>
