<!--轮播start-->
<div class="container-fluid visible-lg visible-md">
  <div class="row-fluid">
    <div class="span5">
      <div class="carousel slide" id="carousel-lzy666">
        <ol class="carousel-indicators">
          <li class="active" data-slide-to="0" data-target="#carousel-lzy666">
          </li>
          <li data-slide-to="1" data-target="#carousel-lzy666">
          </li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <img alt="" style="width:100%; height: 300px;" class="img-responsive" data-src=""
                 src="{{thisDomain}}/media/images/home/9b23bb4c0878f393b1ee7b9a6d4bc2be.jpg"/>
            <div class="carousel-caption">
              <h4>
                十九大
              </h4>
              <p>
                新华社北京10月20日电 中国共产党第十九次全国代表大会主席团20日下午在人民大会堂举行第二次会议
              </p>
            </div>
          </div>
          <div class="item">
            <img alt="" style="width:100%; height: 300px;" class="img-responsive" data-src=""
                 src="{{thisDomain}}/media/images/home/9612b3a2fcd8d73446c8858a60168808.jpg"/>
            <div class="carousel-caption">
              <h4>
                安静胡空间
              </h4>
              <p>
                独立出一个安静胡空间进行自我思考
              </p>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-lzy666" data-slide="prev"><span
          class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#carousel-lzy666" data-slide="next"><span
          class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <ul id="myTab" class="nav nav-tabs">
        <ng-container *ngFor="let type of newsTypes; let i = index;">
          <ng-container *ngIf="i == 0">
            <li class="active"><a (click)="changeTab(type.no)" data-toggle="tab">{{type.name}}</a></li>
          </ng-container>
          <ng-container *ngIf="i > 0 && i < 11">
            <li><a (click)="changeTab(type.no)" data-toggle="tab">{{type.name}}</a></li>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="newsTypes.length > 10">
          <li class="dropdown">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">更多<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
              <ng-container *ngFor="let type of newsTypes; let i = index;">
                <ng-container *ngIf="i > 10">
                  <li><a (click)="changeTab(type.no)" data-toggle="tab">{{type.name}}</a></li>
                </ng-container>
              </ng-container>
            </ul>
          </li>
        </ng-container>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="home">
          <div class="col-md-12 col-log-12 col-sm-12 col-xs-12 column">
            <ng-container *ngFor="let new of news; let i = index;">
              <div class="col-md-4 col-log-4 col-sm-6 col-xs-12">
                <div class="thumbnail">
                  <img style="width:300px; height: 200px;" class="img-responsive" src="{{new.imgsrc}}" />
                  <div class="caption">
                    <h3>{{new.title}}</h3>
                    <p>{{new.digest}}</p>
                    <p><a>发布于 {{new.ptime}}</a></p>
                    <p><a target="_blank" href="{{new.url}}">查看全文 »</a></p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
         </div>
      </div>
    </div>

    <div *ngIf="(paging.bigTotalItems > 0)" class="visible-lg visible-md visible-sm col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">
      <pagination [firstText]="paging.firstText" [previousText]="paging.previousText" [lastText]="paging.lastText"
                  [nextText]="paging.nextText" [totalItems]="paging.bigTotalItems" [(ngModel)]="paging.bigCurrentPage"
                  [maxSize]="paging.maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="paging.limit"
                  (numPages)="paging.numPages = $event" (pageChanged)="pageChanged($event)"></pagination>
    </div>
    <div *ngIf="(paging.bigTotalItems > 0)" class="visible-xs col-xs-12">
      <pagination [previousText]="paging.previousText"
                  [nextText]="paging.nextText"
                  [totalItems]="paging.bigTotalItems"
                  [(ngModel)]="paging.bigCurrentPage"
                  [maxSize]="paging.xsV" class="pagination-sm"
                  [boundaryLinks]="false" [rotate]="false"
                  [itemsPerPage]="paging.limit"
                  (numPages)="paging.numPages = $event"
                  (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
</div>
