<div class="container-fluid">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="breadcrumb">
        <li>
          <a routerLink="/home">首页</a>
        </li>
        <li class="active">
          <a style="text-decoration: none;" routerLink="/private/info/{{requestAccountId}}">个人中心</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="nav nav-tabs">
        <li [class.active]="tab == '0'">
          <a routerLink="/private/info/{{requestAccountId}}">基本信息</a>
        </li>
        <li [class.active]="tab == '1'">
          <a *ngIf="authorizationService.getCurrentUser()._id == requestAccountId" routerLink="/private/article/{{requestAccountId}}">我的文章</a>
          <a *ngIf="authorizationService.currentUser._id != requestAccountId" routerLink="/private/article/{{requestAccountId}}">TA 的文章</a>
        </li>
        <li [class.active]="tab == '2'">
          <a *ngIf="authorizationService.currentUser._id == requestAccountId" routerLink="/private/note/{{requestAccountId}}">我的日记</a>
          <a *ngIf="authorizationService.currentUser._id != requestAccountId" routerLink="/private/note/{{requestAccountId}}">TA 的日记</a>
        </li>
        <li [class.active]="tab == '7'">
          <a *ngIf="authorizationService.currentUser._id == requestAccountId" routerLink="/private/image/{{requestAccountId}}">我的图片</a>
          <a *ngIf="authorizationService.currentUser._id != requestAccountId" routerLink="/private/image/{{requestAccountId}}">TA 的图片</a>
        </li>
        <li [class.active]="tab == '3'">
          <a *ngIf="authorizationService.currentUser._id == requestAccountId" routerLink="/private/media/{{requestAccountId}}">我的媒体</a>
          <a *ngIf="authorizationService.currentUser._id != requestAccountId" routerLink="/private/media/{{requestAccountId}}">TA 的媒体</a>
        </li>
        <li [class.active]="tab == '4'">
          <a *ngIf="authorizationService.currentUser._id == requestAccountId" routerLink="/private/attention/{{requestAccountId}}">我的关注</a>
          <a *ngIf="authorizationService.currentUser._id != requestAccountId" routerLink="/private/attention/{{requestAccountId}}">TA 的关注</a>
        </li>
        <li [class.active]="tab == '5'">
          <a *ngIf="authorizationService.currentUser._id == requestAccountId" routerLink="/private/fans/{{requestAccountId}}">关注我的</a>
          <a *ngIf="authorizationService.currentUser._id != requestAccountId" routerLink="/private/fans/{{requestAccountId}}">关注 TA的</a>
        </li>
        <li [class.active]="tab == '6'">
          <a *ngIf="authorizationService.currentUser._id == requestAccountId" routerLink="/private/visitor/{{requestAccountId}}">我的访客</a>
          <a *ngIf="authorizationService.currentUser._id != requestAccountId" routerLink="/private/visitor/{{requestAccountId}}">TA 的访客</a>
        </li>
        <li [class.active]="tab == '8'" *ngIf="authorizationService.currentUser._id == requestAccountId">
          <a *ngIf="authorizationService.currentUser._id == requestAccountId" routerLink="/private/relation/{{requestAccountId}}">与我相关<span *ngIf="authorizationService.relationCount > 0" style="color: red;">(+{{authorizationService.relationCount}})</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
