<sub-nav [requestUsername]="requestUsername" [tab]="3"></sub-nav>

<div class="container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div *ngIf="authorizationService.currentUser.username != requestUsername">
        <h3 class="panel-title">媒体</h3>
      </div>
      <div *ngIf="authorizationService.currentUser.username == requestUsername">
        <button [class.hidden]="isShow" class="btn btn-default" (click)="changeBtn()" type="button">上传媒体</button>
        <button [class.hidden]="!isShow" class="btn btn-default" (click)="changeBtn()" type="button">取消</button>
      </div>
    </div>
    <div *ngIf="isShow" class="panel-body">
      <div *ngIf="showMsg" class="alert alert-danger">{{sysMsg}}</div>
      <div style="text-align: center;" class="alert alert-success alert-dismissable">
        <span class="fileinput-button">
            <span style="font-size: 14px;">点击选择媒体(支持MP4格式)</span><br>
          <span style="font-size: 10px;">是否上传成功以跳转列表为准，进度条存在不准确性</span><br>
            <span style="font-size: 10px;">手机上传存在部分兼容性问题，且比较慢，PC(电脑)支持较好</span>
            <input type="file" ng2FileSelect [uploader]="uploader"/>
        </span>
        <div class="progress" style="" *ngIf="uploader.progress > 0">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
    </div>

    <div *ngIf="!isShow" class="panel-body">
      <div *ngIf="showMsg" class="alert alert-danger">{{sysMsg}}</div>
      <div [class.hidden]="paging.bigTotalItems > 0">
        <p>
          暂无媒体........
        </p>
      </div>
      <div [class.hidden]="paging.bigTotalItems < 0">
        <ng-container *ngFor="let media of medias; let i = index">
          <div class="col-md-6 col-lg-4 col-sm-6 col-xs-12 column">
            <video type="video/ogg; codecs=dirac, speex" class="video-js vjs-default-skin" controls preload="auto"
                   data-setup="{}">
              <source src="{{media.media_url}}">
            </video>
            <div class="div-to-hide-hr"></div>
            <p>
              <a
                style="text-decoration: none;"><span>更新时间：{{media.update_time | date: "yyyy-MM-dd HH:mm:ss"}}</span></a>
              &nbsp;&nbsp;&nbsp;
              <a *ngIf="authorizationService.currentUser.username == requestUsername" (click)="toDeleteMedia(media._id)"
                 style="text-decoration: none; color: red;"><span>删除</span></a>
            </p>
          </div>
        </ng-container>
      </div>

      <div *ngIf="(paging.bigTotalItems > 0)"
           class="visible-lg visible-md visible-sm col-lg-offset-3 col-md-offset-3 col-sm-offset-2 col-lg-6 col-md-6 col-sm-8 col-xs-12">
        <pagination [firstText]="paging.firstText" [previousText]="paging.previousText" [lastText]="paging.lastText"
                    [nextText]="paging.nextText" [totalItems]="paging.bigTotalItems" [(ngModel)]="paging.bigCurrentPage"
                    [maxSize]="paging.maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false"
                    [itemsPerPage]="paging.limit"
                    (numPages)="paging.numPages = $event" (pageChanged)="pageChanged($event)"></pagination>
      </div>
      <div *ngIf="(paging.bigTotalItems > 0)" class="visible-xs col-xs-12">
        <pagination [previousText]="paging.previousText"
                    [nextText]="paging.nextText"
                    [totalItems]="paging.bigTotalItems"
                    [(ngModel)]="paging.bigCurrentPage"
                    [maxSize]="paging.xsV" class="pagination-sm"
                    [boundaryLinks]="false" [rotate]="false"
                    [itemsPerPage]="paging.limit"
                    (numPages)="paging.numPages = $event"
                    (pageChanged)="pageChanged($event)"></pagination>
      </div>
    </div>
  </div>
</div>
<template #appModalTemplate>
  <div class="modal-body">
    {{appModal.content}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="cancleModal()">取消</button>
    <button type="button" class="btn btn-default" (click)="excuteDel()">确定</button>
  </div>
</template>
