<!--底部导航start-->
<div class="main_nav_bottom" style="margin-top: 50px;">
    <nav class="navbar navbar-default navbar-fixed-bottom" style="line-height: 45px;">
        <div class="container" align="center">
            <ul class="nav nav-tabs nav-tabs-justified">
                <div class="row" align="center">
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-xs-offset-2" align="center"><li>
                        <span style="color: white">开发者 <span class="glyphicon glyphicon-copyright-mark"></span> laizhiyuan</span></li></div>
                </div>
            </ul>
        </div>
    </nav>
</div>
<!--底部导航end-->
<!--lib-->
<script src="/javascripts/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="/javascripts/angular.min.js" type="text/javascript"></script>
<script src="/controller/index.js" type="text/javascript"></script>
<script src="/javascripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="/javascripts/messages_zh.min.js" type="text/javascript"></script>
</body>
</html>