<div class="main_nav_bottom" style="margin-top:50px;">
  <nav class="navbar navbar-default navbar-fixed-bottom" style="line-height: 45px;">
    <div class="container" align="center">
      <ul class="nav nav-tabs nav-tabs-justified">
        <div class="row" align="center">
          <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2 col-xs-offset-2" align="center"><li>
            <span style="color: white">LZY &nbsp;<span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;粤ICP备17136477</span></li></div>
        </div>
      </ul>
    </div>
  </nav>
</div>
