<sub-nav [requestAccountId]="requestAccountId" [tab]="6"></sub-nav>
<div class="container">
  <div class="tab-pane" id="panel-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">访客</h3>
      </div>
      <div class="panel-body">
        <div *ngIf="visitors.length > 0">
          <p *ngIf="authorizationService.currentUser._id == requestAccountId" class="text-danger">您的访客</p>
          <p *ngIf="authorizationService.currentUser._id != requestAccountId" class="text-danger">TA的访客</p>
        </div>
        <hr class="hr">
        <div *ngIf="(visitors.length <= 0)" class="col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4">
          <h4 *ngIf="authorizationService.currentUser._id == requestAccountId" class="text-danger">暂时没有人访问您</h4>
          <h4 *ngIf="authorizationService.currentUser._id != requestAccountId" class="text-danger">暂时没有人访问TA</h4>
        </div>
        <div *ngIf="(visitors.length > 0)" class="col-lg-12 col-md-12 col-sm-12">
          <div style="text-align:center;" *ngFor="let visitor of visitors"
               class="well well-sm">
            <a style="text-decoration: none;" routerLink="/private/info/{{visitor.from._id}}">
              <!--<div>
                <img alt="" style="width:50px; height: 50px;" class="img-circle" src="{{visitor.from.head_portrait}}"/>
              </div>-->
              <div *ngIf="authorizationService.currentUser._id == visitor.from._id">
                {{visitor.from.interspace_name}}<span style="color:red;">(您自己)</span>
              </div>
              <div *ngIf="authorizationService.currentUser._id != visitor.from._id">
                {{visitor.from.interspace_name}}
              </div>
              <div style="color: palevioletred;">
                访问时间：{{visitor.update_time | date:"yyyy-MM-dd HH:mm:ss"}}
              </div>
            </a>
          </div>
        </div>
        <hr class="hr">
        <div
          class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-8 col-xs-offset-3">
          <br>
          <p *ngIf="showMsg" style="color:red;">{{sysMsg}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
