<sub-nav [requestAccountId]="requestAccountId" [tab]="5"></sub-nav>
<div class="container">
  <div class="tab-pane" id="panel-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">关注</h3>
      </div>
      <div class="panel-body">
        <div *ngIf="fans.length > 0">
          <p *ngIf="authorizationService.currentUser._id == requestAccountId" class="text-danger">关注您的</p>
          <p *ngIf="authorizationService.currentUser._id != requestAccountId" class="text-danger">关注 TA的</p>
        </div>
        <hr class="hr">
        <div *ngIf="(fans.length <= 0)" class="col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4">
          <h4 *ngIf="authorizationService.currentUser._id == requestAccountId" class="text-danger">还没有人关注您</h4>
          <h4 *ngIf="authorizationService.currentUser._id != requestAccountId" class="text-danger">还没有人关注TA</h4>
        </div>
        <div *ngIf="(fans.length > 0)" class="col-lg-12 col-md-12 col-sm-12">
          <div style="text-align:center; " *ngFor="let fan of fans"
               class="well well-sm">
            <a style="text-decoration: none;" routerLink="/private/info/{{fan.from._id}}">
              <!--<div>
                <img alt="" style="width:50px; height: 50px;" class="img-circle" src="{{fan.from.head_portrait}}"/>
              </div>-->
              <div *ngIf="authorizationService.currentUser._id == fan.from._id">
                {{fan.from.interspace_name}}<span style="color:red;">(您自己)</span>
              </div>
              <div *ngIf="authorizationService.currentUser._id != fan.from._id">
                {{fan.from.interspace_name}}
              </div>
              <div style="color: palevioletred;">
                关注时间：{{fan.update_time | date:"yyyy-MM-dd HH:mm:ss"}}
              </div>
            </a>
          </div>
        </div>
        <hr class="hr">
        <div *ngIf="authorizationService.currentUser._id != requestAccountId"
             class="col-md-offset-5 col-lg-offset-5 col-xs-offset-4 col-sm-offset-4 col-lg-2 col-md-2 col-sm-4 col-xs-4">
          <button (click)="attention()" *ngIf="isShowAttention" type="button" class="btn btn-info"><span
            class="glyphicon glyphicon-plus"></span> 关注他
          </button>
          <button (click)="cancleAttention()" *ngIf="!isShowAttention" type="button" class="btn btn-info"><span
            class="glyphicon glyphicon-minus"></span> 取消关注
          </button>
        </div>
        <div
          class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5 col-xs-8 col-xs-offset-3">
          <br>
          <p *ngIf="showMsg" style="color:red;">{{sysMsg}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
